:root .theme_dark {
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #ff0070;
  --hover-color: rgba(255, 0, 112, 0.4);
  --title-color: #DB00FF;
  --color-text-decor: #000028;
  --color-heading: #FF0070;
  --background-image: url(../images/cover-image-dark.png);
}

.page.theme_dark .header__decor {
  display: block;
}




