:root .theme_light {
  --bg-color: #FFF1F7;
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --hover-color: rgba(50, 49, 45, 0.4);
  --title-color: #FFC2E6;
  --color-text-decor: #353430;
  --color-heading: #353430;
  --background-image: url("../images/cover-image-light.png");
}

.page.theme_light .header__decor {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #FFF1F7;
    --text-color: #353430;
    --accent-color: #FF8DCB;
    --hover-color: rgba(50, 49, 45, 0.4);
    --title-color: #FFC2E6;
    --color-text-decor: #353430;
    --color-heading: #353430;
    --background-image: url("../images/cover-image-light.png");  
  }

  .page .header__decor {
    display: none;
  }
}
